[package]
name = "moonbeam-rpc-debug"
authors = [ "PureStake" ]
edition = "2021"
homepage = "https://moonbeam.network"
license = "GPL-3.0-only"
repository = "https://github.com/PureStake/moonbeam/"
version = "0.1.0"

[dependencies]
futures = { version = "0.3.26", features = [ "compat" ] }
hex-literal = "0.3.4"
jsonrpsee = { version = "0.16.2", default-features = false, features = [ "macros", "server" ] }
tokio = { version = "1.10", features = [ "sync", "time" ] }

# Moonbeam
moonbeam-client-evm-tracing = { path = "../../evm-tracing" }
moonbeam-rpc-core-debug = { path = "../../rpc-core/debug" }
moonbeam-rpc-core-types = { path = "../../rpc-core/types" }
moonbeam-rpc-primitives-debug = { path = "../../../primitives/rpc/debug" }

# Substrate
sc-client-api = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.37" }
sc-utils = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.37" }
sp-api = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.37" }
sp-block-builder = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.37" }
sp-blockchain = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.37" }
sp-core = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.37" }
sp-io = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.37" }
sp-runtime = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.37" }

# Frontier
ethereum = { version = "0.14.0", default-features = false, features = [ "with-codec" ] }
ethereum-types = "0.14"
fc-consensus = { git = "https://github.com/purestake/frontier", branch = "tgm-fc-log-indexer" }
fc-db = { git = "https://github.com/purestake/frontier", branch = "tgm-fc-log-indexer" }
fc-rpc = { git = "https://github.com/purestake/frontier", branch = "tgm-fc-log-indexer", features = [ "rpc-binary-search-estimate" ] }
fp-rpc = { git = "https://github.com/purestake/frontier", branch = "tgm-fc-log-indexer" }
fp-storage = { git = "https://github.com/purestake/frontier", branch = "tgm-fc-log-indexer" }
