# Changes to .github must be approved by the following groups

/.github/ @moonbeam-foundation/moonsong-perm @moonbeam-foundation/opslayer-devops
/tools/github/ @moonbeam-foundation/moonsong-perm @moonbeam-foundation/opslayer-devops

