# MacOS thing
**/.DS_Store

# Rust directories
**/target
**/scripts/tmp
**/node_modules

# Spec/Wasm build directory
/build/

# Generated test specs
/tests/moonbeam-test-specs/*.json

# Moonbeam-Launch
*.log
tools/specFiles