[submodule "vendor/ethereum"]
	path = vendor/ethereum
	url = https://github.com/rust-blockchain/ethereum.git
[submodule "vendor/frontier"]
	path = vendor/frontier
	url = https://github.com/paritytech/frontier.git
