[submodule "test/contracts/lib/forge-std"]
	path = test/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "test/contracts/lib/openzeppelin-contracts"]
	path = test/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
