[package]
name = "xcm-transactor-precompiles"
version = "0.1.0"
authors = ["PureStake"]
edition = "2018"
description = "A Precompile to make xcm-transactor accessible to pallet-evm"

[dependencies]
log = "0.4"
rustc-hex = { version = "2.0.1", default-features = false }

frame-support = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.12", default-features = false }
evm = { version = "0.30.1", default-features = false, features = ["with-codec"] }
sp-std = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.12", default-features = false }
sp-core = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.12", default-features = false }
sp-runtime = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.12", default-features = false }

pallet-evm = { git = "https://github.com/purestake/frontier", default-features = false, branch = "moonbeam-polkadot-v0.9.12" }
frame-system = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.12", default-features = false }
precompile-utils = { path = "../utils", default-features = false }
num_enum = { version = "0.5.3", default-features = false }
xcm = { git = "https://github.com/purestake/polkadot", default-features = false, branch = "notlesh-xcm-vm-no-inline" }
xcm-transactor = { path = "../../pallets/xcm-transactor", default-features = false }
xcm-primitives = { path = "../../primitives/xcm/",  default-features = false}

[dev-dependencies]
sha3 = "0.9"
serde = "1.0.100"
sp-io = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.12"}
derive_more = "0.99"
pallet-balances =  { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.12"}
pallet-timestamp =  { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.12"}
codec = { package = "parity-scale-codec", version = "2.2", default-features = false, features = ["max-encoded-len"] }
cumulus-primitives-core = { git = "https://github.com/purestake/cumulus", branch = "notlesh-xcm-vm-no-inline" }
pallet-xcm = { git = "https://github.com/purestake/polkadot", branch = "notlesh-xcm-vm-no-inline" }
xcm-primitives = { path = "../../primitives/xcm/"}
xcm-builder = { git = "https://github.com/purestake/polkadot", branch = "notlesh-xcm-vm-no-inline" }
xcm-executor = { git = "https://github.com/purestake/polkadot", branch = "notlesh-xcm-vm-no-inline" }
scale-info = { version = "1.0", default-features = false, features = ["derive"] }

[features]
default = ["std"]
std = [
    "frame-support/std",
    "evm/std",
    "sp-std/std",
    "sp-core/std",
    "frame-system/std",
    "precompile-utils/std",
    "pallet-evm/std",
    "xcm-transactor/std",
    "xcm-primitives/std",
]
