[package]
name = "moonbeam-tests-primitives"
authors = { workspace = true }
edition = "2021"
homepage = "https://moonbeam.network"
license = "GPL-3.0-only"
repository = { workspace = true }
version = "0.1.0"

[lints]
workspace = true

[dependencies]
# Substrate
frame-support = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

# Polkadot / XCM
xcm = { workspace = true }

# Moonbeam
xcm-primitives = { workspace = true }

[features]
default = [ "std" ]
std = [
	"frame-support/std",
	"sp-runtime/std",
	"sp-std/std",
	"xcm/std",
	"xcm-primitives/std",
]
runtime-benchmarks = [
	"frame-support/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]

