[package]
name = "moonbeam-assethub-encoder"
authors = { workspace = true }
edition = "2021"
homepage = "https://moonbeam.network"
license = "GPL-3.0-only"
repository = { workspace = true }
version = "0.1.0"

[dependencies]

# Moonbeam
xcm-primitives = { workspace = true }
pallet-xcm-transactor = { workspace = true }

# Substrate
pallet-staking = { workspace = true }
parity-scale-codec = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

[dev-dependencies]
moonbase-runtime = { workspace = true }
pallet-xcm-transactor = { workspace = true }
sp-io = { workspace = true }

[features]
default = [ "std" ]
std = [
	"pallet-staking/std",
	"pallet-xcm-transactor/std",
	"parity-scale-codec/std",
	"sp-runtime/std",
	"sp-std/std",
	"xcm-primitives/std",
]
