[package]
name = "pallet-evm-precompile-parachain-staking"
authors = { workspace = true }
description = "A Precompile to make parachain staking accessible to pallet-evm"
edition = "2021"
version = "1.0.0"

[dependencies]
log = { workspace = true }

# Moonbeam
pallet-parachain-staking = { workspace = true }

# Substrate
frame-support = { workspace = true }
frame-system = { workspace = true }
parity-scale-codec = { workspace = true, features = [ "max-encoded-len" ] }
sp-consensus-slots = { workspace = true }
sp-core = { workspace = true }
sp-io = { workspace = true }
sp-std = { workspace = true }
sp-runtime = { workspace = true }

# Frontier
fp-evm = { workspace = true }
pallet-evm = { workspace = true, features = [ "forbid-evm-reentrancy" ] }
precompile-utils = { workspace = true }

[dev-dependencies]
derive_more = { workspace = true }
serde = { workspace = true }
sha3 = { workspace = true }

# Frontier
precompile-utils = { workspace = true, features = [ "std", "testing" ] }

# Substrate
pallet-balances = { workspace = true, features = [ "insecure_zero_ed", "std" ] }
pallet-timestamp = { workspace = true, features = [ "std" ] }
scale-info = { workspace = true, features = [ "derive", "std" ] }
sp-runtime = { workspace = true, features = [ "std" ] }

[features]
default = [ "std" ]
std = [
	"fp-evm/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-parachain-staking/std",
	"parity-scale-codec/std",
	"precompile-utils/std",
	"sp-consensus-slots/std",
	"sp-core/std",
	"sp-std/std",
]
