[package]
name = "moonbeam-rpc-core-types"
authors = [ 'PureStake' ]
edition = '2018'
homepage = 'https://moonbeam.network'
license = 'GPL-3.0-only'
repository = 'https://github.com/PureStake/moonbeam/'
version = '0.1.0'

[dependencies]
ethereum-types = "0.12.0"
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
