[package]
authors = { workspace = true }
description = "Common code shared between runtimes"
edition = "2021"
homepage = "https://moonbeam.network"
license = "GPL-3.0-only"
name = "moonbeam-runtime-common"
version = "0.8.0-dev"

[dependencies]
log = { workspace = true }

# Moonbeam
ethereum = { workspace = true }
moonbeam-core-primitives = { workspace = true }
pallet-migrations = { workspace = true }
pallet-moonbeam-foreign-assets = { workspace = true }
pallet-xcm-transactor = { workspace = true }
pallet-xcm-weight-trader = { workspace = true }

# Substrate
pallet-message-queue = { workspace = true }
pallet-xcm-bridge = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-balances = { workspace = true }
pallet-identity = { workspace = true, optional = true }
pallet-treasury = { workspace = true }
pallet-xcm = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-io = { workspace = true }

# Moonkit
pallet-author-inherent = { workspace = true }

# Polkadot
xcm = { workspace = true }
xcm-builder = { workspace = true }

# Parity
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }

account = { workspace = true }

# Cumulus
cumulus-primitives-core = { workspace = true, default-features = false }

[features]
std = [
	"ethereum/std",
	"frame-support/std",
	"frame-system/std",
	"moonbeam-core-primitives/std",
	"pallet-xcm-bridge/std",
	"pallet-moonbeam-foreign-assets/std",
	"pallet-author-inherent/std",
	"pallet-migrations/std",
	"pallet-xcm-weight-trader/std",
	"pallet-message-queue/std",
	"pallet-balances/std",
	"pallet-treasury/std",
	"pallet-xcm/std",
	"parity-scale-codec/std",
	"scale-info/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-std/std",
	"sp-io/std",
	"cumulus-primitives-core/std",
	"xcm/std",
	"account/std",
	"pallet-xcm-bridge/std",
	"pallet-identity/std",
	"xcm-builder/std",
	"log/std"
]
runtime-benchmarks = [
	"cumulus-primitives-core/runtime-benchmarks",
	"pallet-message-queue/runtime-benchmarks",
	"pallet-author-inherent/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"pallet-identity/runtime-benchmarks",
	"pallet-treasury/runtime-benchmarks",
	"pallet-xcm/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-migrations/runtime-benchmarks",
	"pallet-xcm-bridge/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"xcm-builder/runtime-benchmarks",
	"xcm/runtime-benchmarks",
	"pallet-moonbeam-foreign-assets/runtime-benchmarks",
	"pallet-xcm-weight-trader/runtime-benchmarks"
]
try-runtime = [
	"frame-support/try-runtime",
	"pallet-migrations/try-runtime",
	"pallet-author-inherent/try-runtime",
	"frame-system/try-runtime",
	"pallet-balances/try-runtime",
	"pallet-identity?/try-runtime",
	"pallet-message-queue/try-runtime",
	"pallet-treasury/try-runtime",
	"pallet-xcm-bridge/try-runtime",
	"pallet-xcm/try-runtime",
	"sp-runtime/try-runtime",
	"pallet-moonbeam-foreign-assets/try-runtime",
	"pallet-xcm-weight-trader/try-runtime"
]
