[package]
name = 'runtime-common'
description = 'Common code shared between runtimes'
homepage = 'https://moonbeam.network'
license = 'GPL-3.0-only'
version = '0.8.0-dev'
authors = ["PureStake"]
edition = '2018'

[dependencies]
pallet-migrations = { path = "../../pallets/migrations", default-features = false }
sp-runtime = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.11", default-features = false }
sp-std = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.11", default-features = false }
sp-core = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.11", default-features = false }
frame-support = { git = "https://github.com/purestake/substrate", default-features = false, branch = "moonbeam-polkadot-v0.9.11" }
pallet-author-mapping = { path = "../../pallets/author-mapping", default-features = false }
parachain-staking = { path = "../../pallets/parachain-staking", default-features = false }
pallet-collective = { git = "https://github.com/purestake/substrate", default-features = false, branch = "moonbeam-polkadot-v0.9.11" }
frame-system = { git = "https://github.com/purestake/substrate", default-features = false, branch = "moonbeam-polkadot-v0.9.11" }
log = "0.4"
pallet-evm = { git = "https://github.com/purestake/frontier", default-features = false, branch = "moonbeam-polkadot-v0.9.11" }

[features]
std = [
	"pallet-migrations/std",
	"sp-runtime/std",
	"sp-std/std",
	"frame-support/std",
	"pallet-author-mapping/std",
	"pallet-evm/std",
	"sp-core/std",
	"parachain-staking/std",
]
