[package]
name = 'runtime-common'
description = 'Common code shared between runtimes'
homepage = 'https://moonbeam.network'
license = 'GPL-3.0-only'
version = '0.8.0-dev'
authors = ["PureStake"]
edition = '2018'

[dependencies]
pallet-migrations = { path = "../../pallets/migrations", default-features = false }
sp-runtime = { git = "https://github.com/purestake/substrate", branch = "crystalin-v0.9.9-block-response-length", default-features = false }
sp-std = { git = "https://github.com/purestake/substrate", branch = "crystalin-v0.9.9-block-response-length", default-features = false }
frame-support = { git = "https://github.com/purestake/substrate", default-features = false, branch = "crystalin-v0.9.9-block-response-length" }
pallet-author-mapping = { path = "../../pallets/author-mapping", default-features = false }
log = "0.4"

[features]
std = [
	"pallet-migrations/std",
	"sp-runtime/std",
	"sp-std/std",
	"frame-support/std",
]
