[package]
name = "pallet-evm-precompile-crowdloan-rewards"
authors = { workspace = true }
description = "A Precompile to make crowdloan rewards accessible to pallet-evm"
edition = "2021"
version = "0.6.0"

[dependencies]
log = { workspace = true }
num_enum = { workspace = true }
rustc-hex = { workspace = true }

# Moonbeam
pallet-crowdloan-rewards = { workspace = true }
precompile-utils = { workspace = true }

# Substrate
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-core = { workspace = true }
sp-std = { workspace = true }
sp-runtime = { workspace = true }

# Frontier
fp-evm = { workspace = true }
pallet-evm = { workspace = true, features = ["forbid-evm-reentrancy"] }

[dev-dependencies]
derive_more = { workspace = true }
serde = { workspace = true }
sha3 = { workspace = true }

# Moonbeam
precompile-utils = { workspace = true, features = ["std", "testing"] }

# Substrate
pallet-balances = { workspace = true, features = ["std"] }
pallet-scheduler = { workspace = true, features = ["std"] }
pallet-timestamp = { workspace = true, features = ["std"] }
parity-scale-codec = { workspace = true, features = ["max-encoded-len", "std"] }
scale-info = { workspace = true, features = ["derive", "std"] }
sp-io = { workspace = true }
sp-runtime = { workspace = true, features = ["std"] }
pallet-message-queue = { workspace = true, features = ["std"] }

# Cumulus
cumulus-pallet-parachain-system = { workspace = true, features = ["std"] }
cumulus-primitives-core = { workspace = true, features = ["std"] }
cumulus-primitives-parachain-inherent = { workspace = true, features = ["std"] }
cumulus-test-relay-sproof-builder = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
	"cumulus-pallet-parachain-system/std",
	"cumulus-primitives-core/std",
	"cumulus-primitives-parachain-inherent/std",
	"cumulus-test-relay-sproof-builder/std",
	"fp-evm/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-crowdloan-rewards/std",
	"pallet-evm/std",
	"parity-scale-codec/std",
	"precompile-utils/std",
	"sp-core/std",
	"sp-std/std",
]
