[package]
name = "pallet-democracy-precompiles"
version = "0.1.0"
authors = ["PureStake"]
edition = "2018"
description = "A Precompile to make Substrate's pallet-democracy accessible to pallet-evm"

[dependencies]
log = "0.4"
num_enum = { version = "0.5.3", default-features = false }

codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false }
frame-support = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.11", default-features = false }
evm = { version = "0.30.1", default-features = false, features=["with-codec"] }
sp-std = { git = "https://github.com/purestake/substrate", default-features = false, branch = "moonbeam-polkadot-v0.9.11" }
sp-core = { git = "https://github.com/purestake/substrate", default-features = false, branch = "moonbeam-polkadot-v0.9.11" }
sp-io = { git = "https://github.com/purestake/substrate", default-features = false, branch = "moonbeam-polkadot-v0.9.11" }
pallet-evm = { git = "https://github.com/purestake/frontier", default-features = false, branch = "moonbeam-polkadot-v0.9.11" }
pallet-democracy = { git = "https://github.com/purestake/substrate", default-features = false, branch = "moonbeam-polkadot-v0.9.11" }
frame-system = { git = "https://github.com/purestake/substrate", default-features = false, branch = "moonbeam-polkadot-v0.9.11" }
precompile-utils = { path = "../utils", default-features = false }

[dev-dependencies]
sp-runtime = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.11" }
pallet-balances = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.11" }
pallet-timestamp = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.11" }
pallet-scheduler = { git = "https://github.com/purestake/substrate", branch = "moonbeam-polkadot-v0.9.11" }
serde = "1.0.100"
derive_more = "0.99"

[features]
default = ["std"]
std = [
    "codec/std",
    "frame-support/std",
    "evm/std",
    "sp-std/std",
    "sp-core/std",
    "sp-io/std",
    "pallet-evm/std",
    "pallet-democracy/std",
    "frame-system/std",
    "precompile-utils/std",
]
