[package]
name = "moonbeam-rpc-core-trace"
authors = [ "PureStake" ]
edition = "2018"
homepage = "https://moonbeam.network"
license = "GPL-3.0-only"
repository = "https://github.com/PureStake/moonbeam/"
version = "0.6.0"

[dependencies]
ethereum-types = "0.12.1"
futures = { version = "0.3.1", features = [ "compat" ] }
jsonrpsee = { version = "0.9", default-features = false, features = [ "macros", "server" ] }
moonbeam-client-evm-tracing = { path = "../../evm-tracing" }
moonbeam-rpc-core-types = { path = "../types" }
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
