[package]
authors = ['PureStake']
edition = '2018'
homepage = 'https://moonbeam.network'
license = 'GPL-3.0-only'
name = 'xcm-primitives'
repository = 'https://github.com/PureStake/moonbeam/'
version = '0.1.0'

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
serde = { version = "1.0.101", default-features = false, optional = true, features = ["derive"] }
parity-scale-codec = { version = "2.2", default-features = false, features = ["derive"] }
scale-info = { version = "1.0", default-features = false, features = ["derive"] }
log = "0.4"
hex = { version = "0.4", default-features = false }
sha3 = { version = "0.8", default-features = false }
sp-std = { git = "https://github.com/purestake/substrate", default-features = false, branch = "elois-sig-para" }
sp-runtime = { git = "https://github.com/purestake/substrate", default-features = false, branch = "elois-sig-para" }
frame-support = { git = "https://github.com/purestake/substrate", default-features = false, branch = "elois-sig-para" }
frame-system = { git = "https://github.com/purestake/substrate", default-features = false, branch = "elois-sig-para" }

xcm =  { git = "https://github.com/purestake/polkadot", default-features = false, branch = "elois-sig-para" }
xcm-builder =  { git = "https://github.com/purestake/polkadot", default-features = false, branch = "elois-sig-para" }
xcm-executor =  { git = "https://github.com/purestake/polkadot", default-features = false, branch = "elois-sig-para" }

[features]
default = ["std"]
std = [
	"parity-scale-codec/std",
	"serde/std",
	"hex/std",
	"sha3/std",
	"sp-std/std",
	"sp-runtime/std",
	"xcm/std",
	"xcm-builder/std"
]

