[package]
name = "pallet-evm-precompile-xcm-utils"
authors = { workspace = true }
description = "A Precompile to make xcm utilities accessible to pallet-evm"
edition = "2021"
version = "0.1.0"

[dependencies]

# Moonbeam
xcm-primitives = { workspace = true }

# Substrate
frame-support = { workspace = true }
frame-system = { workspace = true }
parity-scale-codec = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-weights = { workspace = true }

# Frontier
fp-evm = { workspace = true }
pallet-evm = { workspace = true, features = ["forbid-evm-reentrancy"] }
precompile-utils = { workspace = true }

# Polkadot
pallet-xcm = { workspace = true }
xcm = { workspace = true }
xcm-executor = { workspace = true }

[dev-dependencies]

# Moonbeam
precompile-utils = { workspace = true, features = ["testing", "std", "codec-xcm"] }

# Substrate
pallet-balances = { workspace = true }
pallet-timestamp = { workspace = true }
parity-scale-codec = { workspace = true, features = ["max-encoded-len"] }
scale-info = { workspace = true, features = ["derive", "std"] }
sp-io = { workspace = true }
sp-runtime = { workspace = true, features = ["std"] }

# Cumulus
cumulus-primitives-core = { workspace = true, features = ["std"] }

# Polkadot
xcm-builder = { workspace = true }

[features]
default = ["std"]
std = [
	"frame-support/std",
	"frame-system/std",
	"pallet-balances/std",
	"pallet-evm/std",
	"pallet-timestamp/std",
	"parity-scale-codec/std",
	"precompile-utils/std",
	"sp-core/std",
	"sp-io/std",
	"sp-std/std",
	"xcm-builder/std",
	"xcm-executor/std",
	"xcm-primitives/std",
	"pallet-xcm/std",
	"fp-evm/std",
	"cumulus-primitives-core/std",
	"sp-runtime/std",
	"sp-weights/std",
	"xcm/std",
	"scale-info/std"
]
runtime-benchmarks = [
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-evm/runtime-benchmarks",
	"cumulus-primitives-core/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"pallet-xcm/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"xcm-builder/runtime-benchmarks",
	"xcm-executor/runtime-benchmarks",
	"xcm/runtime-benchmarks",
	"xcm-primitives/runtime-benchmarks"
]
