[package]
authors = {workspace = true}
description = "A pallet for performing migrations from extrinsics"
edition = "2021"
name = "pallet-moonbeam-lazy-migrations"
version = "0.1.0"

[dependencies]
log = {workspace = true}

# Substrate
frame-support = {workspace = true}
frame-system = {workspace = true}
pallet-scheduler = {workspace = true}
parity-scale-codec = {workspace = true}
scale-info = {workspace = true, features = ["derive"]}
sp-core = {workspace = true}
sp-io = {workspace = true}
sp-runtime = {workspace = true}
sp-std = {workspace = true}

# Frontier
pallet-evm = {workspace = true, features = ["forbid-evm-reentrancy"]}

# Benchmarks
frame-benchmarking = {workspace = true, optional = true}

[dev-dependencies]
frame-benchmarking = {workspace = true, features = ["std"]}
pallet-balances = {workspace = true, features = ["std", "insecure_zero_ed"]}
pallet-timestamp = {workspace = true, features = ["std"]}
rlp = {workspace = true, features = ["std"]}
sp-io = {workspace = true, features = ["std"]}

[features]
default = ["std"]
runtime-benchmarks = ["frame-benchmarking"]
std = [
  "pallet-balances/std",
  "frame-support/std",
  "frame-system/std",
  "scale-info/std",
  "sp-core/std",
  "sp-io/std",
  "sp-runtime/std",
  "sp-std/std",
  "pallet-evm/std",
  "pallet-timestamp/std",
  "rlp/std",
]
try-runtime = ["frame-support/try-runtime"]