[package]
name = "precompile-utils"
version = "0.1.0"
authors = ["PureStake"]
edition = "2018"
description = "Utils to write EVM precompiles."

[dependencies]
log = "0.4"
sha3 = { version = "0.9", default-features = false }
num_enum = { version = "0.5.3", default-features = false }

sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, tag = 'monthly-2021-10' }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, tag = 'monthly-2021-10' }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = false, tag = 'monthly-2021-10' }
codec = { package = "parity-scale-codec", version = "2.2", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", default-features = false, tag = 'monthly-2021-10' }
frame-system = { git = "https://github.com/paritytech/substrate", default-features = false, tag = 'monthly-2021-10' }

pallet-evm = { git = "https://github.com/purestake/frontier", default-features = false, branch = 'workshop-target' }
evm = { version = "0.30.1", default-features = false, features = ["with-codec"] }

precompile-utils-macro = { path = "macro" }

[features]
default = ["std"]
std = [
    "codec/std",
    "sp-std/std",
    "sp-core/std",
    "sp-io/std",
    "frame-support/std",
    "frame-system/std",
    "pallet-evm/std",
    "evm/std",
]
