[package]
name = "precompile-utils"
version = "0.1.0"
authors = ["PureStake"]
edition = "2018"
description = "Utils to write EVM precompiles."

[dependencies]
log = "0.4"
sha3 = { version = "0.9", default-features = false }
num_enum = { version = "0.5.3", default-features = false }

sp-std = { git = "https://github.com/purestake/substrate", default-features = false, branch = "elois-sig-para" }
sp-core = { git = "https://github.com/purestake/substrate", default-features = false, branch = "elois-sig-para" }
sp-io = { git = "https://github.com/purestake/substrate", default-features = false, branch = "elois-sig-para" }
codec = { package = "parity-scale-codec", version = "2.2", default-features = false }
frame-support = { git = "https://github.com/purestake/substrate", default-features = false, branch = "elois-sig-para" }
frame-system = { git = "https://github.com/purestake/substrate", default-features = false, branch = "elois-sig-para" }

pallet-evm = { git = "https://github.com/purestake/frontier", default-features = false, branch = "elois-sig-para" }
fp-evm = { git = "https://github.com/purestake/frontier", default-features = false, branch = "elois-sig-para" }
xcm = { git = "https://github.com/purestake/polkadot", default-features = false, branch = "elois-sig-para" }

precompile-utils-macro = { path = "macro" }

[dev-dependencies]
hex-literal = "0.3.1"

[features]
default = ["std"]
std = [
    "codec/std",
    "sp-std/std",
    "sp-core/std",
    "sp-io/std",
    "frame-support/std",
    "frame-system/std",
    "pallet-evm/std",
    "fp-evm/std",
]
