[package]
name = "pallet-evm-precompile-randomness"
authors = { workspace = true }
description = "A Precompile to make randomness accessible to pallet-evm"
edition = "2021"
version = "0.1.0"

[dependencies]

# Moonbeam
pallet-randomness = { workspace = true }
precompile-utils = { workspace = true }

# Substrate
fp-evm = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-core = { workspace = true }
sp-io = { workspace = true }
sp-std = { workspace = true }
sp-runtime = { workspace = true }

# Frontier
pallet-evm = { workspace = true, features = [ "forbid-evm-reentrancy" ] }

# Nimbus
nimbus-primitives = { workspace = true }

[dev-dependencies]

# Moonbeam
pallet-author-mapping = { workspace = true, features = [ "std" ] }
precompile-utils = { workspace = true, features = [ "std", "testing" ] }
session-keys-primitives = { workspace = true, features = [ "std" ] }

# Substrate
pallet-balances = { workspace = true, features = [ "std" ] }
pallet-timestamp = { workspace = true, features = [ "std" ] }
sp-runtime = { workspace = true, features = [ "std" ] }

[features]
default = [ "std" ]
std = [
	"fp-evm/std",
	"frame-support/std",
	"frame-system/std",
	"nimbus-primitives/std",
	"pallet-evm/std",
	"pallet-randomness/std",
	"precompile-utils/std",
	"sp-core/std",
	"sp-io/std",
	"sp-std/std",
]
