[package]
name = "precompile-utils-macro"
authors = { workspace = true }
description = ""
edition = "2021"
version = "0.1.0"

[lib]
proc-macro = true

[[test]]
name = "tests"
path = "tests/tests.rs"

[dependencies]
case = "1.0"
num_enum = { version = "0.5.3", default-features = false }
prettyplease = "0.1.18"
proc-macro2 = "1.0"
quote = "1.0"
sha3 = "0.10"
syn = { version = "1.0", features = [ "extra-traits", "fold", "full", "visit" ] }

[dev-dependencies]
macrotest = "1.0.9"
trybuild = "1.0"

precompile-utils = { path = "../", features = [ "testing" ] }

fp-evm = { workspace = true }
frame-support = { workspace = true }
sp-core = { workspace = true }
sp-std = { workspace = true }
