[package]
name = "moonbeam-finality-rpc"
authors = { workspace = true }
description = "An experimental RPC to check for block and transaction finality in the moonbeam parachain"
edition = "2021"
homepage = "https://moonbeam.network"
license = "GPL-3.0-only"
repository = { workspace = true }
version = "0.1.0"

[dependencies]
futures = { workspace = true, features = [ "compat" ] }
jsonrpsee = { workspace = true, features = [ "macros", "server" ] }
parity-scale-codec = { workspace = true, features = [ "std" ] }
tokio = { workspace = true, features = [ "sync", "time" ] }

fc-db = { workspace = true }
fc-api = { workspace = true }
fc-rpc = { workspace = true }
sp-api = { workspace = true, features = [ "std" ] }
sp-blockchain = { workspace = true }
sp-core = { workspace = true, features = [ "std" ] }
sp-runtime = { workspace = true, features = [ "std" ] }
