name: Cancel
on: [push]
jobs:
  cancel:
    name: "Cancel Previous Build"
    if: github.ref != 'refs/heads/master'
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    timeout-minutes: 3
    steps:
      - uses: styfle/cancel-workflow-action@0.12.1
        with:
          workflow_id: ".github/workflows/build.yml,.github/workflows/coverage.yml"
          all_but_latest: true
          access_token: ${{ secrets.GITHUB_TOKEN }}
