name: Check Feature Propagation

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.txt'
  push:
    branches:
      - master

# Cancel any previous job still running this workflow for this branch
# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/control-the-concurrency-of-workflows-and-jobs#example-using-concurrency-to-cancel-any-in-progress-job-or-run
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-rust-feature-propagation:
    runs-on:
      labels: bare-metal
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ needs.set-tags.outputs.git_ref }}
          persist-credentials: false
          fetch-depth: 0
      - name: Check features
        run: |
          # Install zepter
          cargo install zepter -f --locked --version 0.13.2
          # Run checks
          zepter run check