name: Publish Rust Docs

on:
  push:
    branches:
      - master

jobs:
  deploy-docs:
    name: Deploy docs
    runs-on: bare-metal

    steps:
      # The protobuf compiler should be pre-installed on bare-metal
      #- name: Install tooling
      #  run: sudo apt-get install -y protobuf-compiler
      - name: Check tooling
        run: protoc --version
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Rust toolchain
        uses: ./.github/workflow-templates/rust-toolchain

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-doc-${{ hashFiles('**/Cargo.lock') }}

      - name: Build rustdocs
        uses: actions-rs/cargo@v1
        env:
          CARGO_INCREMENTAL: "0"
        with:
          command: doc
          args: --all --no-deps

      # Make an index.html file so we start at the moonbeam_runtime page
      # Copied from https://github.com/substrate-developer-hub/rustdocs/blob/master/index.html
      - name: Make index.html
        run: echo "<meta http-equiv=refresh content=0;url=moonbeam_runtime/index.html>" > ./target/doc/index.html

      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./target/doc
