name: Publish Binary Draft

# The code (like generate-release-body) will be taken from the tag version, not master
on:
  workflow_dispatch:
    inputs:
      from:
        description: tag (ex. v0.43.0) to retrieve commit diff from
        required: true
      to:
        description: tag (ex. v0.44.0) to generate release note and binaries from
        required: true

jobs:
  build-binary:
    runs-on: moonbeam-release-medium
    permissions:
      contents: read
    strategy:
      matrix:
        cpu: ["x86-64", "skylake", "znver3"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.to }}
          fetch-depth: 0
      - name: Cargo build
        uses: ./.github/workflow-templates/build-prod-binary
        with:
          target: ${{ matrix.cpu }}
          ref: ${{ github.event.inputs.to }}

  ####### Prepare and publish the release draft #######

  publish-draft-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      release_url: ${{ steps.create-release.outputs.html_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.to }}
          fetch-depth: 0
      - uses: actions/download-artifact@v6
        with:
          pattern: binaries-*
          merge-multiple: true
          path: build
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: "test/.nvmrc"
      - name: Prepare moonbeam binary for release body generation
        working-directory: build
        run: |
          mv moonbeam-x86-64 moonbeam
      - name: Generate release body
        id: generate-release-body
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: tools
        run: |
          corepack enable
          yarn
          yarn -s run ts-node github/generate-release-body.ts --owner "${{ github.repository_owner }}" --repo "$(basename ${{ github.repository }})" --from "${{ github.event.inputs.from }}" --to "${{ github.event.inputs.to }}" --srtool-report-folder '../build/' > ../body.md
      - name: Prepare binary assets
        working-directory: build
        run: |
          # Prepare binaries for upload
          cp moonbeam ../moonbeam
          cp moonbeam-skylake ../moonbeam-skylake
          cp moonbeam-znver3 ../moonbeam-znver3
      - name: Create draft release with binaries
        id: create-release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.to }}
          name: Moonbeam ${{ github.event.inputs.to }}
          body_path: body.md
          draft: true
          files: |
            moonbeam
            moonbeam-skylake
            moonbeam-znver3

  ####### Publish Release Candidate Docker Image #######

  docker-release-candidate:
    runs-on: ubuntu-latest
    needs: ["build-binary"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.to }}
      - uses: actions/download-artifact@v6
        with:
          pattern: binaries-*
          merge-multiple: true
          path: build
      - name: Rename binary for Docker
        working-directory: build
        run: |
          mv moonbeam-x86-64 moonbeam
      - name: Prepare Docker metadata
        id: prep
        run: |
          DOCKER_IMAGE=moonbeamfoundation/moonbeam
          VERSION="${{ github.event.inputs.to }}"
          TAG="${VERSION}-rc"

          echo "tags=${DOCKER_IMAGE}:${TAG}" >> $GITHUB_OUTPUT
          echo "created=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT
      - name: Cargo build
        uses: ./.github/workflow-templates/publish-docker
        with:
          dockerhub_username: ${{ secrets.MBF_DOCKERHUB_USERNAME }}
          dockerhub_password: ${{ secrets.MBF_DOCKERHUB_PASSWORD }}
          image_tags: ${{ steps.prep.outputs.tags }}
          image_title: ${{ github.event.repository.name }}
          image_description: ${{ github.event.repository.description }}
          image_url: ${{ github.event.repository.html_url }}
          image_source: ${{ github.event.repository.clone_url }}
          image_created: ${{ steps.prep.outputs.created }}
          image_revision: ${{ github.sha }}
          image_licenses: ${{ github.event.repository.license.spdx_id }}
