name: Scout Audit

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  scout-audit:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      repository-projects: write
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: do scout
        uses: coinfabrik/scout-actions@v3
        with:
          target: '' # Path to the root of your smart contract (e.g. contracts/token/)

      - uses: mshick/add-pr-comment@v2.8.2
        with:
          message-path:  ${{ github.workspace }}/report.md

      # Optional: Add the following step to block the merge of the commit if Scout finds any issues.

      - name: Check for error
        run: |
          if [ -f "${{ github.workspace }}/FAIL" ]; then
            echo "Error: Scout found issues."
            exit 1
          fi