name: Upgrade typescript API
on:
  workflow_dispatch:
    inputs:
      spec_version:
        description: runtime spec version (ex. 1601)
        required: true

jobs:
  upgrading-typescript-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: runtime-${{ github.event.inputs.spec_version }}
      - name: Retrieve moonbeam binary
        run: |
          COMMIT_SHA8=$(git log -1 --format="%H" | cut -c1-8)
          DOCKER_TAG="purestake/moonbeam:sha-$COMMIT_SHA8"
          # Clear the dummy container if it wasn't properly cleaned up
          docker rm -f dummy 2> /dev/null
          docker create -ti --name dummy $DOCKER_TAG bash
          mkdir -p build
          docker cp dummy:/moonbeam/moonbeam build/moonbeam
          docker rm -f dummy
      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - name: import runtime
        run: |
          cd typescript-api
          ./scripts/runtime-upgrade.sh ${{ github.event.inputs.spec_version }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          base: master
          branch: "typescript-api-${{ github.event.inputs.spec_version }}"
          commit-message: typescript API v0.${{ github.event.inputs.spec_version }}.0"
          draft: true
          title: "Upgrade typescript API for runtime  ${{ github.event.inputs.spec_version }}"
          reviewers: "librelois,ekenigs,crystalin"
          labels: "B0-silent,D2-notlive"
