name: Create version bump ticket
on:
  workflow_dispatch:
    inputs:
      from:
        description: "Polkadot version to bump from (ex: v1.3.0)"
        required: true
      to:
        description: "Polkadot version to bump to (ex: v1.7.2)"
        required: true

jobs:
  create_bump_ticket:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: "test/.nvmrc"
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Generate version bump issue
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd tools
          pnpm install --ignore-workspace 
          pnpm run --silent print-version-bump-info --from ${{ github.event.inputs.from }} --to ${{ github.event.inputs.to }} | tee ../version-bump.md
      - name: Create version bump issue
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Update polkadot-sdk from ${{ github.event.inputs.from }} to ${{ github.event.inputs.to }}
          content-filepath: ./version-bump.md
          labels: |
            automated issue
